@import "reset.css";

@font-face {
  font-family: "Old Standard TT";
  src: url(../fonts/OldStandardTT-Bold.ttf) format(truetype);
}

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(22, 20, 31, 1);
  width: 1440px;
  margin: 0 auto;
  padding: 130px 50px 0 50px;
  font-family: "Old Standard TT";
  color: white;
  overflow-x: hidden;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgbox-text {
  position: absolute;
  padding-left: 380px;
  padding-bottom: 200px;
  font-size: 140px;
  -webkit-text-stroke: 3px #16141f;
}

.title0 {
  margin-left: 64px;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 40px;
}

.profile {
  padding: 70px;
}

.message {
  width: 1371px;
  height: 562px;
  border: 6px solid #b400ad;
  display: flex;
  justify-content: center;
}

.msg-text {
  padding-top: 26px;
}

.msg-info {
  background-color: rgba(217, 217, 217, 0.3);
  width: 601px;
  height: 425px;
  border: 15px solid white;
  border-radius: 25px;
  margin: 10px 20px 0 auto;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ltr-bg {
  position: relative;
  width: 1440px;
  height: 1300px;
}

.letter {
  position: absolute;
  height: 500px;
  z-index: 1;
}

.letter1 {
  transform: translate(-200px, 30px) rotate(-12deg);
}

.letter2 {
  transform: translate(575px, 320px) rotate(9deg) scale(0.75);
}

.letter3 {
  transform: translate(-514px, 680px) rotate(-25deg);
}

.letter4 {
  transform: translate(-180px, 320px) rotate(-21deg) scale(0.75);
}

.letter5 {
  transform: translate(635px, 680px) rotate(1deg) scale(0.75);
}

.letter6 {
  transform: translate(575px, 1050px) rotate(10deg);
}

.main-ltr {
  position: relative;
  background-color: white;
  border: 6px solid black;
  width: 1311px;
  height: 816px;
  z-index: 2;
}

.text0 {
  font-size: 150px;
  margin-right: auto;
  margin-left: 50px;
  height: 0px;
}

.airplane {
  position: absolute;
  transform: translate(320px, 320px);
}

.ilstr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
}

.walls {
  position: relative;
  width: 100%;
  height: 600px;
  transform: translateY(100px);
}

.line {
  position: absolute;
  background-color: white;
}

.line-left {
  top: 50%;
  left: 0;
  width: 50%;
  height: 2px;
}

.line-vertical {
  top: 0;
  left: 50%;
  width: 2px;
  height: 50%;
}

.line-diagonal {
  top: 50%;
  left: 50%;
  width: 2px;
  height: 70%;
  transform: rotate(-120deg);
  transform-origin: top left;
}

.boxes-wrp {
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.box0 {
  margin-right: 134px;
}

.box1 {
  margin-right: 300px;
}

.road-wrp {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 900px;
}

.road-line {
  width: 100%;
  height: 1px;
  margin-top: 240px;
  background-color: #b400ad;
}

.car {
  position: absolute;
  transform: translate(100px, -750px);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px;
  font-size: 40px;
  background-color: #b400ad;
}
